# Dependencies
node_modules/
.pnp.*

# Build output
.next/
out/
dist/
build/

# Environment
.env
.env.local
.env.*.local
sample.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Solidity
.deps/
.deploys/
artifacts/
cache/

# Misc
.bolt/

# Local Netlify folder
.netlify
