openapi: 3.1.0
info:
  title: yuhm Coordination API
  version: 0.1.0
  description: Policy-governed Austin food coordination. SMS is not included in this version.
servers:
  - url: https://coordination.yuhm.handprotocol.org
security:
  - oauth2: []
paths:
  /health:
    get:
      security: []
      responses:
        '200': { description: Service health }
  /.well-known/oauth-protected-resource:
    get:
      security: []
      responses:
        '200': { description: OAuth protected-resource metadata }
  /.well-known/agent-card.json:
    get:
      security: []
      responses:
        '200': { description: A2A Agent Card }
  /mcp:
    post:
      summary: Remote MCP JSON-RPC endpoint
      responses:
        '200': { description: MCP response }
  /a2a:
    post:
      summary: A2A task and message endpoint
      responses:
        '200': { description: A2A response }
  /v1/needs:
    get: { summary: List owned needs, responses: { '200': { description: Needs } } }
    post:
      summary: Create a need
      parameters: [ { $ref: '#/components/parameters/IdempotencyKey' } ]
      responses: { '201': { description: Need created } }
  /v1/supplies:
    get: { summary: List owned supplies, responses: { '200': { description: Supplies } } }
    post:
      summary: Create a supply
      parameters: [ { $ref: '#/components/parameters/IdempotencyKey' } ]
      responses: { '201': { description: Supply created } }
  /v1/matches:
    get: { summary: List visible match candidates, responses: { '200': { description: Match candidates } } }
    post:
      summary: Request a matching run
      parameters: [ { $ref: '#/components/parameters/IdempotencyKey' } ]
      responses: { '201': { description: Matching run queued } }
  /v1/commitments:
    get: { summary: List visible commitments, responses: { '200': { description: Commitments } } }
    post:
      summary: Commit an eligible held candidate
      parameters: [ { $ref: '#/components/parameters/IdempotencyKey' } ]
      responses: { '201': { description: Commitment created } }
  /v1/runs:
    get: { summary: List matching runs, responses: { '200': { description: Runs } } }
  /v1/events:
    get: { summary: List visible potlucks, responses: { '200': { description: Potlucks } } }
    post:
      summary: Create a potluck
      parameters: [ { $ref: '#/components/parameters/IdempotencyKey' } ]
      responses: { '201': { description: Potluck created } }
  /v1/payments:
    get: { summary: List visible payment orders, responses: { '200': { description: Payments } } }
    post:
      summary: Create a marketplace payment order
      parameters: [ { $ref: '#/components/parameters/IdempotencyKey' } ]
      responses: { '201': { description: Payment order created } }
  /v1/mandates:
    get: { summary: List owned mandates, responses: { '200': { description: Mandates } } }
    post:
      summary: Grant a time-bound agent mandate
      parameters: [ { $ref: '#/components/parameters/IdempotencyKey' } ]
      responses: { '201': { description: Mandate created } }
  /v1/conversations:
    get: { summary: List owned conversations, responses: { '200': { description: Conversations } } }
    post:
      summary: Create a cross-channel conversation
      parameters: [ { $ref: '#/components/parameters/IdempotencyKey' } ]
      responses: { '201': { description: Conversation created } }
  /webhooks/stripe:
    post:
      security: []
      summary: Signed Stripe event receiver
      responses: { '200': { description: Event accepted } }
  /webhooks/twilio/voice/intake:
    post:
      security: []
      summary: Signed Twilio Voice intake
      responses: { '200': { description: TwiML response } }
components:
  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema: { type: string, minLength: 8, maxLength: 200 }
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://PROJECT.supabase.co/auth/v1/authorize
          tokenUrl: https://PROJECT.supabase.co/auth/v1/token
          scopes:
            food:public: Public discovery
            food:records:read: Personal record access
            food:records:write: Need and conversation commands
            food:commitments: Commitment and fulfillment commands
            food:payments: Commercial and donation commands
            food:location: Purpose-bound location release
            food:events: Potluck management
            food:provider: Provider operations
            food:coordinator: Coordinator review and readiness decisions
